header {
    background-color: #fff;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.315); 
}
.logos {
    display: flex;
    width: 60%;
    max-width: 400px;
    max-height: 80px;
    margin: 2px;
    align-items: center;      
}
.iconsd {
    width: 100%;
}
.iconsi {
    width: 100%;
}
.logos-d {
    max-height: 80px;
    display: flex;
    width: auto;
    margin: 2px;
    max-width: 200px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/mi.png') ;
    height: 100vh;
    margin: 0;
}
.container {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selects,.indications{
    background-color: #7b2a3d;
    border-radius: 5px;
    width: 98%;
    max-width: 1400px;
    margin: 5px; 
    padding: 5px;
}
.indications{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sel-cont{
    margin: 5px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-weight: 700;
}
  
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Add border-radius property */
    box-sizing: border-box; /* Ensure padding and border are included */
}

.mapa {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1400px;
}
img {
    width: 100%;
}

@media (min-width: 420px) {
    .selects {
      display: flex;
    }
    .sel-cont{
        width: 50%;
    }
  }